# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist
assets/img/IMG_4472.JPG
__pycache__/
*.pyc
server/comments/.env
server/comments/caddy_config
server/comments/caddy_data
server/comments/likes_data
server/comments/var

# Hidden system files
*~
.DS_Store
Thumbs.db
