{% comment %}
  Determine TOC state and return it through variable "enable_toc"
{% endcomment %}

{% assign enable_toc = false %}
{% if site.toc and page.toc %}
  {% assign toc_source = content | default: page.content %}
  {% assign has_toc_heading = false %}

  {% if toc_source contains '<h2' or toc_source contains '<h3' %}
    {% assign has_toc_heading = true %}
  {% endif %}

  {% unless has_toc_heading %}
    {% if page.content contains '## ' or page.content contains '### ' %}
      {% assign has_toc_heading = true %}
    {% endif %}
  {% endunless %}

  {% if has_toc_heading %}
    {% assign enable_toc = true %}
  {% endif %}
{% endif %}
