---
layout: page
# The Archives of posts.
---

{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}
{% assign post_measure = site.data.locales[lang].categories.post_measure %}

<div id="archives" class="pl-xl-3">
  {% for post in site.posts %}
    {% assign cur_year = post.date | date: '%Y' %}
    {% assign cur_month = post.date | date: '%Y-%m' %}

    {% if cur_year != last_year %}
      {% unless forloop.first %}
          </ul>
        </details>
      {% endunless %}

      <time class="year lead d-block">{{ cur_year }}</time>

      {% assign last_year = cur_year %}
      {% assign last_month = '' %}
    {% endif %}

    {% if cur_month != last_month %}
      {% if last_month != '' %}
          </ul>
        </details>
      {% endif %}

      {% assign month_count = 0 %}
      {% for month_post in site.posts %}
        {% assign month_key = month_post.date | date: '%Y-%m' %}
        {% if month_key == cur_month %}
          {% assign month_count = month_count | plus: 1 %}
        {% endif %}
      {% endfor %}

      {% assign post_unit_text = post_measure %}
      {% if post_measure.singular %}
        {% if month_count == 1 %}
          {% assign post_unit_text = post_measure.singular %}
        {% else %}
          {% assign post_unit_text = post_measure.plural %}
        {% endif %}
      {% endif %}

      {% assign ts = post.date | date: '%s' %}

      {% assign should_open_month = false %}
      {% unless opened_first_month %}
        {% assign should_open_month = true %}
        {% assign opened_first_month = true %}
      {% endunless %}

      <details class="archive-month"{% if should_open_month %} open{% endif %}>
        <summary class="archive-month-header">
          <span class="archive-month-title">
            <span class="archive-month-name" data-ts="{{ ts }}" data-df="{{ df_dayjs_m }}">
              {{ post.date | date: df_strftime_m }}
            </span>
            <span class="archive-month-count">{{ month_count }} {{ post_unit_text }}</span>
          </span>
          <i class="fas fa-chevron-down archive-month-chevron"></i>
        </summary>
        <ul class="list-unstyled">

      {% assign last_month = cur_month %}
    {% endif %}

    <li>
      {% assign ts = post.date | date: '%s' %}
      <span class="archive-post-date">
        <span class="date day" data-ts="{{ ts }}" data-df="DD">{{ post.date | date: '%d' }}</span>
      </span>
      <a class="archive-post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>

    {% if forloop.last %}
        </ul>
      </details>
    {% endif %}
  {% endfor %}
</div>
