---
layout: page
# All the Categories of posts
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_category_' %}
{% assign LIST_PREFIX = 'l_category_' %}
{% assign sort_categories = site.categories | sort %}

{% for category in sort_categories %}
  {% assign category_name = category | first %}
  {% assign posts_of_category = category | last | sort: 'date' | reverse %}
  {% assign first_post = posts_of_category | first %}

  {% if category_name == first_post.categories[0] %}
    {% capture category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}

    <div class="card categories">
      <div
        id="{{ HEAD_PREFIX }}{{ forloop.index0 }}"
        class="card-header d-flex justify-content-between"
      >
        <span class="ms-2">
          <i class="far fa-folder fa-fw"></i>
          <a href="{{ category_url | relative_url }}" class="mx-2">{{ category_name }}</a>
          <span class="text-muted small font-weight-light">
            {{ posts_of_category | size }}
            {{ site.data.locales[lang].categories.post_measure }}
          </span>
        </span>

        <a
          href="#{{ LIST_PREFIX }}{{ forloop.index0 }}"
          data-bs-toggle="collapse"
          aria-expanded="false"
          aria-label="{{ HEAD_PREFIX }}{{ forloop.index0 }}-trigger"
          class="category-trigger"
        >
          <i class="fas fa-fw fa-angle-down rotate"></i>
        </a>
      </div>

      <div id="{{ LIST_PREFIX }}{{ forloop.index0 }}" class="collapse">
        <ul class="list-group">
          {% for post in posts_of_category %}
            <li class="list-group-item post-list-item">
              <a href="{{ post.url | relative_url }}" class="post-list-title">{{ post.title }}</a>
              <span class="post-list-date text-muted small font-weight-light">
                {% include datetime.html date=post.date lang=lang %}
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endfor %}
