---
layout: page
# All the Tags of posts.
---

{% include lang.html %}

<div id="tags" class="tag-list">
  {% assign tags = '' | split: '' %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}

  {% for t in sorted_tags %}
    <div class="card categories">
      <a
        class="card-header d-flex justify-content-between text-decoration-none"
        href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}"
      >
        <span class="ms-2">
          <i class="fa fa-tag fa-fw"></i>
          <span class="mx-2">{{ t }}</span>
          <span class="text-muted small font-weight-light">
            {{ site.tags[t].size }}
            {{ site.data.locales[lang].categories.post_measure }}
          </span>
        </span>
        <span class="category-trigger">
          <i class="fas fa-fw fa-angle-right"></i>
        </span>
      </a>
    </div>
  {% endfor %}
</div>
